<!DOCTYPE html>
<html>
  <head>
    <title>Participation</title>

  </head>

  <body>
  
    <%= yield %>
	
	<footer>
		<p><small>&copy; 2020 Life Balance Conf &amp; Elena Aiupova</small></p>
	</footer>
	
  </body>
  <% if !flash[:alert].nil? %>
    <p class="my_alert"><%= flash[:alert] %></p>
  <% end %>
</html>